extends layout

block content
  .page
    nav
      span
      img(src='./images/logo-bunchart-temp.png' alt='logo' style='width:100px; height:100px;')
    main

      h1= title
      br
      p Welcome to #{title}! your app!

      p Discover the best artists in your area !!
      br

      #promo
        .promo Start bidding !

        button.answer.answer sing in
        button.answer.answer register