extends layout

block content
  .page
    nav
      span logo
    main

      h1= title
      p Welcome to #{title}

      p Discover the best artists in your area
      .promo Try something
      #main-promo.promo Go bidding!
      .answer Yes!
      .answer No?